html,
body {
  margin: 0
  background-color: #000
  min-height: 100%
}
#terminal {
  background-color: #000
}
#terminal .terminal.xterm {
  /*width: 1920px;
  height: 1080px;
  */
  padding-left: 4px !important;
  padding-top: 4px !important;
}
#timer {
  position: fixed;
  right: 25px;
  font-size: 25pt;
  color: white;
  top: 838px
}
